
                                          /* estilos globales */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    margin: 0;
    overflow-x: hidden;
  }
  body h2{
    text-align: center;
    font-family: var(--fontMain);
    font-weight: 500;
    font-size: 1.7rem;
    position: sticky;
    top:8rem;
    z-index: 2;
  }
  :root{
    --fontMain:"Roboto", sans-serif;
    --mainColor: #000;
    --headerColor:#fefff6; 
    --tamañH2:1.2rem;
    --fonth:2rem;
  }
  .redSocial{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 2rem;
    column-gap: 0.5rem;
    position: fixed;
    z-index: 999;
    bottom:1rem;

  }
  .redSocial a svg{
    text-decoration: none;
    color: var(--mainColor);
    width: 2rem;
    height: 2.5rem;
    stroke-width: 1.5;

  }
                                                    /* header */
  header{
    background-image:url(header.jpg);
    height:37rem;
    width: 100%;
    background-size: cover;
    background-position:50% 40%;
    background-repeat: no-repeat;
  }

  .opciones{
    margin: 0;
    /* background: rgba(37, 52, 33, 0.748); */
    background: radial-gradient(circle, rgba(64, 194, 144, 1) 5%, rgba(22,75,115,0.4) 70%);
    padding-bottom: 0.3rem;
    position: fixed;
    width: 100%;
  }

  .logo h1{
    margin: 0.4rem;
    font-weight: 600;
    font-size:var(--fonth);
    text-align: center;
    color: var(--headerColor);
    font-family: var(--fontMain);
    position: relative;
    z-index: 1;

  }
  #Busqueda::placeholder{
    font-family:roboto;
    color: #827e7e;
    font-size: 0.6rem;

  }
  .header--Busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    font-family: var(--fontMain);
    color: var(--headerColor);
    margin-top: 0.5rem;
    font-size: var(--tamañH2);
    position: relative;
    z-index:1;

  }
  .navegacion{
    background: rgba(161, 238, 17, 0.664);
    box-shadow: 0 8px 32px 0 rgba(39, 96, 150, 0.732);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 2px;
    border: 1px solid rgba(246, 246, 246, 0.307);
    display: flex;
    align-items: center;
    row-gap:0.5rem;
    flex-wrap:wrap ;
    justify-content: center;
    font-family: var(--fontMain);
  }
  .navegacion a div{
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
    column-gap: 0.1rem;
    height: 2rem;
    position: relative;
  }
  .navegacion a div:hover{
    background: rgba( 92, 106, 104, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .navegacion a div:active{
    background-color:#0d0c0c;
  }
  .navegacion a div svg{
    stroke-width:1;
    stroke:var(--headerColor);
    width:3rem;
    height: 1.8rem;
  }
  .navegacion a p{
    color:var(--headerColor);
    font-size: var(--tamañH2);
  }
  .navegacion a{
    color: var(--mainColor);
    text-decoration: none;
  }


                                              /* Articulos */
  
  .articulos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    padding: 3rem;

  }
  .tarjeta{
    -webkit-box-shadow: 0px 7px 18px 1px rgba(30,69,106,0.57);
    -moz-box-shadow: 0px 7px 18px 1px rgba(30,69,106,0.57);
    box-shadow: 0px 7px 18px 1px rgba(30,69,106,0.57);
    height: 28rem;
    width: 18rem;
    border-radius: 6%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }
  .tarjeta--imagen{
    background-image: url(producto.jpg);
    width: 90%;
    height: 18rem;
    background-size:contain;
    background-position:50% 50%;
    background-repeat: no-repeat;
    
  }
  #nombreProducto{
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: var(--fontMain);
  }
  .tarjeta--precio--boton{
    display: flex;
    column-gap: 0.5rem;
    align-items:center;
    justify-content: end;
    margin-bottom: 0;
  }
  .tarjeta--boton{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--mainColor);
    align-items: center;
    column-gap: 0.2rem;
    justify-content: end;
    font-size: var(--fontMain);
  }
  .boton{
    border-radius: 1%;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    padding-left: 0.2rem;
    height: 2rem;
    font-family: var(--fontMain);
  }
  .boton:hover{
    background-color:rgba(161, 238, 17, 0.664);
  }
  .precio{
    display: flex;
    align-items: center;
  }
  .precio svg{
    color: var(--mainColor);
    height: 1rem;
    fill:var(--mainColor);
  }

  /* Footer */

  footer{
    height: 15rem;
    width: 100%;
    background-color: #939696e1;
  }
  footer p{
    font-family: var(--fontMain);
    text-align: center;
    font-size: 5rem;
    color: var(--headerColor);
    font-weight: 900;
  }
                                            /* Media queries */
  @media(max-width:768px){
    header{
      background-size: contain;
      height: 27rem;
      background-repeat: no-repeat;
      background-position:50% 70%;
    }
    .redSocial{
      position: fixed;
      bottom: 1rem;
    }
    body h2{
      top:11rem;
    }
    .articulos{
      display: flex;
      flex-direction: column;
  }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    header{
      background-size: contain;
      height: 100%rem;
      background-repeat: no-repeat;
      background-position:50% 70%;
    }
    .redSocial{
      position: fixed;
      bottom: 1rem;
    }
    body h2{
      top:7.5rem;
    }
    .articulos{
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }
  }